---
title: Homepage
layout: base
---
<main>
    <div style="display: flex; justify-content: space-around; height: 10rem; align-items: center;">
        <img src="https://lukenk.github.io/print/letterhead.svg" style="height: inherit;">
        <h1>Song lyrics and translations by LukeNK</h1>
    </div>

    <h2>List of all the songs:</h2>
    <ul>
        {% assign list = site.pages | sort_natural: "name" %}

        {% assign curName = "" %}
        {% for song in list %}
            {% if song.path contains 'songs/' %}
                {% assign songName = song.name | split: " - " | first %}
                <li>
                    {% if songName != curName %}
                        <span>{{ songName }}</span>
                        {% assign curName = songName %}
                    {% else %}
                        <span></span>
                    {% endif %}
                    <a href=".{{ song.url }}">{{ song.name | split: ".md" | first | split: " - " | last }}</a>
                    <code>{{ song.lang | upcase }}</code>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2>List of all the translations:</h2>
    <ul>
        {% for song in list %}
            {% if song.path contains 'translations/' %}
                {% assign songName = song.name | split: " - " | first %}
                <li>
                    {% if songName != curName %}
                        <span>{{ songName }}</span>
                        {% assign curName = songName %}
                    {% else %}
                        <span></span>
                    {% endif %}
                    <a href=".{{ song.url }}">{{ song.name | split: ".md" | first | split: " - " | last }}</a>
                    <code>{% for tran in song.trans %} {{ tran[0] | upcase }} {% endfor %}</code>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</main>