---
title: Homepage
layout: base
---
<main>
    <header>
        <img src="https://lukenk.github.io/print/letterhead.svg">
        <h1>Song lyrics and translations by LukeNK</h1>
    </header>

    <p>All of the files here are uploaded to <a href="https://lyricstranslate.com/en/translator/lukenk">my Lyricstranslate account</a>. The files here are probably not up-to-date.</p>

    <input id="search" type="text" placeholder="Search...">

    <h2>List of all the songs:</h2>
    <ul>
        {% assign list = site.pages | where: "layout", "song" | sort_natural: "name" %}
        {% assign curName = "" %}
        {% assign artistCount = 0 %}
        {% for song in list %}
            {% assign songName = song.name | split: " - " | first %}
            <li>
                {% if songName != curName %}
                    <span>{{ songName }}</span>
                    {% assign curName = songName %}
                    {% assign artistCount = artistCount | plus: 1 %}
                {% else %}
                    <span></span>
                {% endif %}
                <a href=".{{ song.url }}">{{ song.name | split: ".md" | first | split: " - " | last }}</a>
                <code>{{ song.lang | upcase }}</code>
            </li>
        {% endfor %}
    </ul>
    <p class="report">{{ list | size }} songs of {{ artistCount }} artists</p>


    <h2>List of all the translations:</h2>
    <ul>
        {% assign list = site.pages | where: "layout", "translation" | sort_natural: "name" %}
        {% assign transCount = 0 %}
        {% assign artistCount = 0 %}
        {% for song in list %}
            {% assign songName = song.name | split: " - " | first %}
            {% assign languages = song.trans | size %}
            {% assign transCount = transCount | plus: languages %}
            <li>
                {% if songName != curName %}
                    <span>{{ songName }}</span>
                    {% assign curName = songName %}
                    {% assign artistCount = artistCount | plus: 1 %}
                {% else %}
                    <span></span>
                {% endif %}
                <a href=".{{ song.url }}">{{ song.name | split: ".md" | first | split: " - " | last }}</a>
                <code>{% for tran in song.trans %} {{ tran[0] | upcase }} {% endfor %}</code>
            </li>
        {% endfor %}
    </ul>
    <p class="report">{{ transCount }} translations of {{ list | size }} songs of {{ artistCount }} artists</p>
</main>

<script>
const searchInput = document.getElementById("search");
searchInput.addEventListener("input", function() {
    const filter = searchInput.value.toLowerCase();
    const listItems = document.querySelectorAll("ul li");
    listItems.forEach(function(elm) {
        const text = elm.textContent.toLowerCase();
        if (filter === "") {
            elm.classList.remove("result");
            elm.classList.remove("noresult");
        } else if (text.includes(filter)) {
            elm.classList.add("result");
            elm.classList.remove("noresult");
        } else {
            elm.classList.remove("result");
            elm.classList.add("noresult");
        }
    });
});
searchInput.onkeydown = function(event) {
    if (event.key === "ArrowDown" || event.key === "Enter") {
        const firstResult = document.querySelector("ul li.result a");
        if (firstResult) firstResult.focus();
        event.preventDefault();
    }
};
</script>